.card {
  background-color: #f2f2f2; /* Cambia el color de fondo a un tono neutro no transparente */
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  width: 240px;
  height: 400px;
  transition: transform 0.6s;
  position: relative;
  margin-top: 170px;
  border: 1px solid #000000; /* Agrega un borde negro alrededor de la carta */
}

.front {
  position: relative;
}

.name {
  position: absolute;
  bottom: 1;
  left: 0;
  margin: 0;
  font: 1em sans-serif;
  background-color: #000000; /* Agrega un fondo negro al nombre */
  color: #ffffff; /* Cambia el color del texto del nombre a blanco */
  padding: 5px; /* Agrega un espacio interno alrededor del nombre */
  border-radius: 10px;
}

.button {
  display: block;
  border-radius: 10px;
  padding: 4px;
  background-color: red;
  text-align: center;
  font-size: small;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.h4 {
    color:#000000;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}